*
{
    margin: 0;
}

body 
{
    margin: 0;
    padding-bottom: 0;
    overflow-y: auto;

    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: #E9C5C5;
    color: #20413A;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    margin-top: auto;

    /* position: absolute; */
    bottom: 0;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box; */

}

.footer .container .bottom-footer {
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .container .bottom-footer .footer-column {
    flex: 0 0 30%;
    text-align: left;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .container .bottom-footer .footer-bottom {
    margin-top: auto;
}

@media (max-width: 768px) {
    .bottom-footer {
        padding: 20px 10px;
        /* Adjust padding for smaller screens */
    }
}

/*#53655C*/
/* E9C5C5 */